<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.notie.NoticeDAO">
  
  <!-- list -->
  
  <select id="getNoList" resultType="NoticeDTO">
  	SELECT NOTICENO, NOTICESUBJECT, NOTICENAME, NOTICEDATE, NOTICEHIT, NOTICECONTENTS FORM NOTICE ORDER BY NOTICENUM DESC
  </select>
  
  
  
  
  </mapper>