<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.board.qna.QnaDAO">
 
 <sql id="searchSql">
		WHERE QNANUM>0
		 	<choose>
		 		<when test="kind=='name'">
				AND QNANAME LIKE '%'||#{search}||'%'		 		
		 		</when>
		 		<otherwise>
		 		AND QNACONTENTS LIKE '%'||#{search}||'%'
		 		</otherwise>
		 	</choose>	
	</sql>
 
 	<select id="getTotal" parameterType="Pager" resultType="Long">
		SELECT COUNT(QNANUM) FROM QNABOARD
		<include refid="searchSql"></include>
	</select> 
 
 
  <select id="getList" resultMap="getSelectResult" parameterType="Pager">
  	SELECT QNANUM, QNANAME, QNASUBJECT, QNACONTENTS, QNADATE, QNAHIT FROM 
	(SELECT  ROWNUM R, B.* FROM
		(
		SELECT * FROM QNABOARD 
		<include refid="searchSql"></include>
		
		ORDER BY REF DESC, STEP ASC
		) B  
	)
	WHERE R BETWEEN #{startRow} AND #{lastRow} 	
  </select>
  
  <select id="getDetail" parameterType="QnaDTO" resultMap="getSelectResult">
	  		SELECT * FROM QNABOARD WHERE QNANUM=#{num}

	  	</select>
  	<resultMap type="QnaDTO" id="getSelectResult">
	  		<id column="QNANUM" property="num"/>
	  		<result column="QNASUBJECT" property="subject"/>
  			<result column="QNANAME" property="name"/>
	  		<result column="QNACONTENTS" property="contents"/>
	  		<result column="QNADATE" property="createDate"/>
	  		<result column="QNAHIT" property="hit"/>
	  		
	  	</resultMap>
  
 		<insert id="setAdd" parameterType="QnaDTO">
	  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
	  			SELECT QNABOARD_SEQ.NEXTVAL FROM DUAL
	  		</selectKey>
	  	
	  		INSERT INTO QNABOARD (QNANUM, QNANAME, QNASUBJECT, QNACONTENTS, QNADATE, QNAHIT, REF, STEP, DEPTH)
	  		VALUES (#{num}, #{name}, #{subject}, #{contents}, sysdate, 0, #{num}, 0, 0)
	  	
	  	</insert>
  
  
  
  <update id="setStepUpdate" parameterType="QnaDTO">
		UPDATE QNABOARD SET STEP=STEP+1
		WHERE REF=#{ref} AND STEP>#{step}
  
  </update>
  
  <insert id="setReplyAdd" parameterType="QnaDTO">
 			 <selectKey keyProperty="num" resultType="Long" order="BEFORE">
	  			SELECT QNABOARD_SEQ.NEXTVAL FROM DUAL
	  		</selectKey>
	INSERT INTO QNABOARD (QNANUM, QNANAME, QNASUBJECT, QNACONTENTS, QNADATE, QNAHIT, REF, STEP, DEPTH)
  	VALUES
  	(#{num}, #{name}, #{subject}, #{contents}, sysdate, 0, #{num}, 0, 0)
  </insert>
  	
  
  </mapper>